{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Prescriptions</h2>
            <ul>
            {% for prescription in user.prescription_user.all %}
                <li><a href="{{ prescription.get_absolute_url }}">Patient name: {{ prescription.user.name }}, Doctor: {{ prescription.doctor.name }}, Date: {{ prescription.created_at|date:"SHORT_DATE_FORMAT" }}</a></li>
            {% empty %}
                <li>Sorry, no prescriptions available.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}